{
    "extends": "eslint-config-airbnb",
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": { 
        "comma-dangle": ["error","never"],// comma stuff
        "indent": ["error",4],// for indent types
        "import/prefer-default-export": false,// no I prefer exports without defaults        
        "linebreak-style": 0,// something with LF and CRLF formating        
        "react/jsx-filename-extension": [1,{"extensions": [".js",".jsx"]}],// allow jsx in files with .js        
        "react/jsx-indent": [true,12],// more indent stuff?
        "jsx-quotes": ["error","prefer-single"]
    },
    "settings": {
        "import/parser": "babel-eslint"
    }
}
