@height-btn: 66px;
.btn {
    height: @height-btn;
    line-height: @height-btn;
    border-radius: @height-btn;
    color: @color-text-btn;
    background-color: @color-bg-btn;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
    }
}

// menu
.btn-sm-menu-toogle,
.btn-close-sm-menu {
    height: @height-header-mini;
    line-height: @height-header-mini;
    background-color: @color-header-bg;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    svg {
        display: block;
        fill: #FFFFFF;
        height: 40px;
        width: 35px;
    }
}

// homepage
.btn-learnmore {
    width: 75%;
    font-size: 36px;
    letter-spacing: -0.2px;
    animation: learnmore 2s;
    .keyframeLearnMore();
}

.keyframeLearnMore() {
    @keyframes learnmore {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.btn-servicequote {
    width: 300px;
    font-size: 24px;
    letter-spacing: -0.2px;
}

.a-viewWork {
    display: inline-block;
    width: 300px;
    font-size: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.btn-freeQuote {
    font-size: 20px;
    letter-spacing: -0.1px;
    width: 150px;
}

@media(max-width: @screen-lg) {
    .btn-learnmore {
        font-size: 24px;
    }
}

@media(max-width: @screen-sm) {
    .btn-servicequote,
    .btn-freeQuote,
    .a-viewWork {
        width: 100%;
    }
    .btn-sm-menu-toogle,
    .btn-close-sm-menu {
        svg {
            height: 20px;
        }
    }
}
