.btn {
    height: 66px;
    line-height: 66px;
    border-radius: 66px;
    color: @color-text-btn;
    background-color: @color-bg-btn;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
    }
}

// homepage
.btn-learnmore {
    width: 75%;
    font-size: 36px;
    letter-spacing: -0.2px;
}

.btn-servicequote {
    width: 300px;
    font-size: 24px;
    letter-spacing: -0.2px;
}

.a-viewWork {
    display: inline-block;
    width: 300px;
    font-size: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.btn-freeQuote {
    font-size: 20px;
    letter-spacing: -0.1px;
    width: 150px;
}