.contact-intro-bg {
    background: 0 35% / cover no-repeat url('/images/contact_h1.jpg');
    height: @bg-height;
    top: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    width: 100%;
}

.contact-container .homepage-services {
    margin-bottom: 120px;
    .homepage-service {
        width: 25%;
    }
}

@media(max-width: @screen-md) {
    .contact-container .homepage-services .homepage-service {
        width: 50%;
    }
}

@media(max-width: @screen-sm) {
    .contact-intro-bg {
        background-position-x: 50%;
    }
    .contact-container .homepage-services .homepage-service {
        width: 100%;
    }
}