.footer-container {
    background-color: @color-footer-bg;
    color: @color-footer-text;
    padding: 80px 48px;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: @screen-xlg;
}

.footer-heading .header-logo-img {
    width: 324px;
}

.footer-subheading {
    font-weight: 300;
    letter-spacing: -0.09px;
    margin-top: 8px;
}

.footer-list,
.footer-list-row {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-listitem-link {
    display: table-cell;
}

@icon-wrapper-size: 30px;
.footer-listitem-icon-wrapper {
    border: 1px solid @color-text;
    border-radius: @icon-wrapper-size;
    display: table-cell;
    height: @icon-wrapper-size;
    text-align: center;
    width: @icon-wrapper-size;
    vertical-align: middle;
    svg {
        display: block;
        margin: 0 auto;
        width: @icon-wrapper-size - 2;
    }
}

.footer-list {
    .footer-listitem-details {
        display: table-cell;
        padding-left: 8px;
        vertical-align: middle;
    }
    .footer-listitem {
        margin: 8px 0;
    }
}

.footer-list-row {
    margin-top: 16px;
    .footer-listitem {
        float: left;
        margin: 0 8px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}

.footer-desktop {
    .footer-section {
        float: left;
        width: 50%;
    }
}

.footer-mobile {
    display: none;
}

@media(max-width:@screen-md) {
    .footer-container {
        padding: 32px;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: block;
        text-align: center;
        .footer-section {
            margin: 0 auto;
            width: 224px;
        }
        .footer-list-row {
            margin: 16px 0;
            .footer-listitem:last-child {
                margin-right: 0;
            }
        }
    }
}

@media(max-width: @screen-sm) {
    .footer-heading .header-logo-img {
        width: 100%;
    }
}