.footer-container {
    padding: 48px 3% 26px 3%;
    background-color: @color-footer-bg;
    color: @color-footer-text;
}

// alignment
.footer-wrapper {
    display: table;
    max-width: 1100px;
    margin: 0 auto;
    .footer-row {
        float: left;
    }
    .footer-section {
        display: table-cell;
        width: 20%;
    }
}

.footer-section-spacer {
    margin-right: 60px;
}

// list heading
.footer-heading-link {
    font-size: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: @color-footer-text;
}

.footer-divider {
    height: 2px;
    margin: 8px 0 16px 0;
    background-color: @color-footer-divider;
}

// list
.footer-section-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-section-listitem {
    font-size: 14px;
    margin: 10px 0;
}

.footer-section-sublink {
    color: @color-footer-text;
    text-decoration: none;
    &:hover {
        font-weight: 600;
    }
}

@media(max-width: @screen-xlg) {
    .footer-section-spacer {
        margin-right: 30px;
    }
}

@media(max-width: @screen-lg) {
    .footer-wrapper {
        max-width: @screen-lg;
        .footer-row {
            float: none;
            &:nth-child(2) {
                margin-top: 45px;
            }
        }
    }
}

@media(max-width: @screen-sm) {
    .footer-wrapper .footer-section {
        display: block;
        width: 100%;
    }
}