.ourwork-container .info-wrapper {
    margin-bottom: 0;
}

.ourwork-intro-bg {
    background: 0 50% / cover no-repeat url('/images/ourwork_h1.jpg');
    height: @bg-height;
    top: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    width: 100%;
}

.icon-float {
    background: center / contain no-repeat url('/images/floatspa19_logo.png');
}