@bg-height: 80vh;
.process-intro-container {
    position: relative;
    height: @bg-height;
}

.process-intro-bg {
    background: 0 35% / cover no-repeat url('/images/process_h1.jpg');
    height: @bg-height;
    top: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    width: 100%;
}