.process-intro-container {
    position: relative;
    height: @bg-height;
}

.process-intro-bg {
    background: 0 35% / cover no-repeat url('/images/process_h1.jpg');
    height: @bg-height;
    top: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    width: 100%;
}

.process-container .info-wrapper {
    margin: 0 auto;
    &.primary .info-heading {
        margin-left: @info-content-secondary-width;
    }
    &.secondary .info-heading {
        margin-right: @info-content-secondary-width;
    }
    .info-heading {
        padding: 28px 0;
    }
}

// icons 
.process-container .info-icon {
    &.icon-1 {
        background: center 0 / cover no-repeat url('/images/process_design_1.jpg')
    }
    &.icon-2 {
        background: center 0 / cover no-repeat url('/images/process_design_2.jpg')
    }
    &.icon-3 {
        background: center 0 / cover no-repeat url('/images/process_design_3.jpg')
    }
    &.icon-4 {
        background: center 0 / cover no-repeat url('/images/process_design_4.jpg')
    }
    &.icon-5 {
        background: center 0 / cover no-repeat url('/images/process_design_7.jpg')
    }
    &.icon-6 {
        background: center 0 / cover no-repeat url('/images/process_design_5.jpg')
    }
    &.icon-7 {
        background: center 0 / cover no-repeat url('/images/process_design_6.jpg')
    }
    &.icon-8 {
        background: center 0 / cover no-repeat url('/images/process_dev_1.jpg')
    }
    &.icon-9 {
        background: center 0 / cover no-repeat url('/images/process_dev_2.jpg')
    }
}

.process-container .btn-wrapper {
    text-align: left;
    .btn {
        margin: 80px 0 40px 0;
    }
}

.process-container .process-details .btn-wrapper {
    text-align: center;
}

@media(max-width: @screen-xlg) {
    .process-container>*:not(.accordion-container) {
        padding: 24px;
    }
}

@media(max-width: @screen-md) {
    .process-container {
        .info-wrapper.primary .info-heading,
        .info-wrapper.secondary .info-heading {
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
        .info-wrapper.secondary .info-content-wrapper {
            display: flex;
            flex-direction: column;
            .info-content:nth-last-child {
                order: 1;
            }
        }
    }
}

@media(max-width: @screen-sm) {
    .process-container .btn {
        width: 100%;
    }
}