// *** mail chimp
// error
#mc_embed_signup div.mce_inline_error {
    font-size: 12px !important;
    font-weight: 300 !important;
    color: #e85c41 !important;
    background-color: #e4e6ed !important;
}

#mce-success-response {
    color: #0dc600;
    margin-top: 15px;
}