// *** colors ***
// text
@color-menu-link: #bae2ee;
@color-footer-text: #d2d3dc;
@color-intro-text: #0a1622;
@color-text-btn: #e4e9ef;
@color-services-text: #0a1622;
// bg
@color-dark-bg: #d1e0ec;
@color-light-bg: #f8f8f9;
@color-medium-bg: #e4e6ed;
@color-intro-bg: #d5e8ef;
@color-header-bg: #4f5d82;
@color-footer-bg: #7884a1;
@color-bg-btn: #326a9b;
@color-bg-btn-hover: #4678a5;
@color-btn-secondary: #FFFFFF;
@color-btn-secondary-hover: #FFFFFF;
// media
@screen-xs: 320px;
@screen-sm: 420px;
@screen-md: 700px;
@screen-lg: 960px;
@screen-xlg: 1100px;
@screen-xxlg: 1200px;
@screen-max-width: 1100px;
// misc
@color-footer-divider: #67485f;
@z-index-menu: 1000;